@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.button {
    font-size: var.$font-size-md;
    font-weight: var.$font-weight-regular;
    padding: var.$spacing-xs;
    border: 1px solid var.$color-neutro-700;
    border-radius: var.$spacing-xs;
    box-shadow: var.$box-shadow-md;

    &--add {
        background-color: var.$color-success-100;
        color: var.$color-success-900;
        border-color: var.$color-success-900;

        &:hover,
        &:active {
            background-color: var.$color-success-300;
            outline: 1px solid var.$color-success-900;
        }
    }

    &--remove {
        background-color: var.$color-danger-100;
        color: var.$color-danger-900;
        border-color: var.$color-danger-900;

        &:hover,
        &:active {
            background-color: var.$color-danger-300;
            outline: 1px solid var.$color-danger-900;
        }
    }

    &--primary {
        background-color: var.$color-primary-700;
        color: var.$color-neutro-100;
        border-color: var.$color-primary-900;

        &:hover,
        &:active {
            background-color: var.$color-primary-900;
            outline: 1px solid var.$color-neutro-900;
        }
        
    }
    &--search {
        background-color: var.$color-primary-700;
        color: var.$color-neutro-100;
        border-color: var.$color-primary-900;
        padding:var.$spacing-xs ;

        &:hover,
        &:active {
            background-color: var.$color-primary-900;
            outline: 1px solid var.$color-neutro-900;
        }
        
    }
    

}