@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.card {

    display: flex;
    flex-direction: column;
    gap: var.$spacing-md;
    border: 1px solid var.$color-neutro-900;
    padding: var.$spacing-md;
    border-radius: var.$spacing-md 0 var.$spacing-md 0;

    &__image{
        border-top-left-radius: var.$spacing-sm;
    }

    &__title{
        font-size: var.$font-size-md;
        font-weight: var.$font-weight-bold;
        color: var.$color-neutro-900;
    }

    &__code{
        font-size: var.$font-size-xs;
        color: var.$color-neutro-500;
        text-align: right;
    }

    &__description{
        font-size: var.$font-size-md;
        color: var.$color-neutro-700;
        @include mix.text-ellipsis();
        text-align: justify;
    }

    &__price{
        font-size: var.$font-size-md;
        font-weight: var.$font-weight-bold;
        color: var.$color-neutro-900;
        text-align: center;
    }

    &__actions{
        display: flex;
        justify-content: space-evenly;
    }

}