@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.form {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-xs;
  width: 98%;
  padding-left: 0.8rem;


  &__group {
    display: flex;
    flex-direction: column;
    gap: var.$spacing-xs;


    &__label {
      font-size: var.$font-size-sm;
      font-weight: var.$font-weight-bold;
      color: var.$color-success-1200;
    }
  }
}