@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.slider {
    position: relative;
    height: 25vh;
    width: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;

    &__slides {
        display: flex;
        height: 100%;
        width: 300%;

        animation: move-slide 15s ease-in-out infinite;
    }

    &__slide {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    @keyframes move-slide {
        0% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(calc((100% / 3) * -1));
        }

        45% {
            transform: translateX(calc((100% / 3) * -1));
        }

        50% {
            transform: translateX(calc((100% / 3) * -2));
        }

        70% {
            transform: translateX(calc((100% / 3) * -2));
        }

        75% {
            transform: translateX(calc((100% / 3) * -1));
        }

        95% {
            transform: translateX(calc((100% / 3) * -1));
        }

        100% {
            transform: translateX(0);
        }
    }
}