@font-face {
    font-family: "Super Plants";

    // Importante: Se debe tener en cuenta que la carpeta /css
    // debe subir un solo nivel para llegar a /assets/fonts
    src: url("../assets/fonts/super_plants.ttf");
}