
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.page-contact {
    &__content{
        display:flex ;
        flex-direction: column;
        gap: var.$spacing-md ;
    }
}