
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.page-products {
    
    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var.$spacing-md;
    }
}