@use "@/scss/variables" as var;

.product-item {
    max-height: fit-content;
    max-width: 400px;
    overflow: hidden;

    &__image {
        height: 100%;
        width: 100%;

        &--skeleton {
            height: 267px;
            width: 100%;
        }
    }

    &__content {
        padding: var.$spacing-md;
    }

    &__title {
        font-size: var.$font-size-lg;
        font-weight: var.$font-weight-bold;

        &--skeleton {
            height: 35px;
            width: 200px;
            margin-bottom: var.$spacing-sm;
        }
    }

    &__description {
        font-size: var.$font-size-sm;
        font-weight: var.$font-weight-regular;
        text-align: justify;

        &--skeleton {
            height: 42px;
            width: 368px;
        }
    }

    &__price {
        font-size: var.$font-size-sm;
        font-weight: var.$font-weight-bold;
        text-align: right;

        &--skeleton {
            height: 42px;
            width: 368px;
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: var.$spacing-md;
        padding: var.$spacing-md;

        &--skeleton {
            width: 60px;
            height: 24px;
            line-height: 1.2;
        }
    }
}