* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  color: #212529;
  text-decoration: none;
}

img {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.slider {
  position: relative;
  height: 25vh;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.slider__slides {
  display: flex;
  height: 100%;
  width: 300%;
  animation: move-slide 15s ease-in-out infinite;
}
.slider__slide {
  width: 100%;
  height: 100%;
}
.slider__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@keyframes move-slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-33.3333333333%);
  }
  45% {
    transform: translateX(-33.3333333333%);
  }
  50% {
    transform: translateX(-66.6666666667%);
  }
  70% {
    transform: translateX(-66.6666666667%);
  }
  75% {
    transform: translateX(-33.3333333333%);
  }
  95% {
    transform: translateX(-33.3333333333%);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "navbar" "main" "footer";
  grid-template-rows: max-content max-content 1fr max-content;
}

footer {
  grid-area: footer;
  padding: 0.5rem;
}
footer .copyright {
  color: #343a40;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

header {
  grid-area: header;
  padding: 1.5rem;
}

main {
  grid-area: main;
  padding: 1rem;
}

nav {
  grid-area: navbar;
}
nav .navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
nav .navbar__item {
  color: #212529;
  font-size: 1rem;
}
nav .navbar__item:hover, nav .navbar__item--active {
  font-weight: 700;
}

.page-about-us .approaches-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page-about-us .approaches-container .mission__title,
.page-about-us .approaches-container .vision__title,
.page-about-us .approaches-container .values__title {
  color: #212529;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 0.25rem;
}
.page-about-us .approaches-container .mission__description,
.page-about-us .approaches-container .vision__description,
.page-about-us .approaches-container .values__description {
  color: #343a40;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}
.page-about-us .approaches-container .mission__image,
.page-about-us .approaches-container .vision__image,
.page-about-us .approaches-container .values__image {
  height: -moz-fit-content;
  height: fit-content;
  width: 25%;
  float: left;
  margin: 0 0.5rem 0.25rem 0;
}
.page-about-us .approaches-container .vision__image {
  float: right;
  margin: 0 0 0.25rem 0.5rem;
}