* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {
    list-style: none;
}

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

img {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
}

.card {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #212529;
    padding: 1rem;
    border-radius: 1rem 0 1rem 0;
}

.card__image {
    border-top-left-radius: 0.5rem;
    height: 310px;
    width: 310x;

}

.card__image--highlighted {
    border-radius: 0.5rem;
    height: 500px;
    object-fit: cover;
}



.card__title {
    font-size: 1rem;
    font-weight: 700;
    color: #212529;
    text-align: center;
}

.card__title--highlighted {
    font-size: 2rem;
    color: #430909;

}

.card__code {
    font-size: 0.75rem;
    color: #6c757d;
    text-align: right;
}

.card__description {
    font-size: 1rem;
    color: #343a40;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 4.2em;
    word-break: break-word;
    text-align: justify;
}

.card__description--highlighted {
    font-size: 1.25rem;
    color: #f8f9fa;
}

.card__price {
    font-size: 1rem;
    font-weight: 700;
    color: #212529;
    text-align: center;
}

.card__actions {
    display: flex;
    justify-content: space-evenly;
}

.card--highlighted {
    border: none;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card__floating-content {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: ;
    gap: 0.5rem;
}

.slider {
    position: relative;
    height: 80vh;
    width: 500px;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;

}

.slider__slides {
    display: flex;
    height: 100%;
    width: 300%;
    animation: move-slide 15s ease-in-out infinite;
}

.slider__slide {
    width: 100%;
    height:
}

.slider__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: center;
    object-position: center;

}

.textInicio {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    ;
}

.Pinicio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    padding: 1rem;
    text-align: center;
    align-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 2);
    background: transparent;
    backdrop-filter: blur(5px);
}

@keyframes move-slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-33.3333333333%);
    }

    45% {
        transform: translateX(-33.3333333333%);
    }

    50% {
        transform: translateX(-66.6666666667%);
    }

    70% {
        transform: translateX(-66.6666666667%);
    }

    75% {
        transform: translateX(-33.3333333333%);
    }

    95% {
        transform: translateX(-33.3333333333%);
    }

    100% {
        transform: translateX(0);
    }
}

.button {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.25rem;
    border: 1px solid #343a40;
    border-radius: 0.25rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
}

.button--add {
    background-color: #e6f4ea;
    color: #134119;
    border-color: #134119;
}

.button--add:hover,
.button--add:active {
    background-color: #99dba3;
    outline: 1px solid #134119;
}

.button--remove {
    background-color: #fbeaea;
    color: #430909;
    border-color: #430909;
}

.button--remove:hover,
.button--remove:active {
    background-color: #f09898;
    outline: 1px solid #430909;
}

.button--primary {
    background-color: #7c5032;
    color: #f8f9fa;
    border-color: #3b241a;
}

.button--primary:hover,
.button--primary:active {
    background-color: #3b241a;
    outline: 1px solid #212529;
}

.button--search {
    background-color: #7c5032;
    color: #f8f9fa;
    border-color: #3b241a;
    padding: 0.25rem;
}

.button--search:hover,
.button--search:active {
    background-color: #138d00;
    outline: 1px solid #212529;
}

.title {
    margin-bottom: 2%;
    text-align: center;
    font-size: 50px;
    color: #430909;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: white;
    background: transparent;
}

.form__group__label {
    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    text-align: start;
    margin-left: 20px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "navbar" "main" "footer";
    grid-template-rows: max-content max-content 1fr max-content;
}

.navbar {
    margin-bottom: 2%;
    font-size: 15px;
}

footer {
    grid-area: footer;
    padding: 0.5rem;
}

footer .copyright {
    color: #343a40;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

header {
    height: 120px;
    border: #000000 solid 2px;
    text-align: center;
    color: black;
    background-color: white;
    font-size: 35px;
    margin-top: 1%;
}



main {
    grid-area: main;

}

nav {
    grid-area: navbar;
}

nav .navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav .navbar__item {
    color: #212529;
    font-size: 1rem;
}



nav .navbar__item:hover,
nav .navbar__item--active {
    font-weight: 700;
}

.page-home {
    background-color: white;
    margin-top: 5%;
}

.logo {
    height: 200px;
    width: 200px;
}

.page-home .highlighted-products {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    margin-top: 5%;
    ;
}



.page-about-us .approaches-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.aboutus__title {
    font-size: 40px;

}

.mission {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 2);
    background-color: #f5cee7;
    backdrop-filter: blur(5px);
}

.mission__description {
    text-align: center;
    margin-top: 2%;

}

.Pmission {
    margin-top: 50px;
}

.vision {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 2);
    background-color: #f5cee7;
    backdrop-filter: blur(5px);

}

.vision__description {
    text-align: center;
    margin-top: 2%;
}

.Pvision {
    margin-top: 150px;
}

.values {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 2);
    background-color: #f5cee7;
    backdrop-filter: blur(5px);
}

.values__description {
    text-align: center;
    margin-top: 2%;
}

.Pvalue {
    margin-top: 150px;
}

.page-about-us .approaches-container .mission__title,
.page-about-us .approaches-container .vision__title,
.page-about-us .approaches-container .values__title {
    color: #212529;
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 0.25rem;
}


.page-about-us .approaches-container .mission__image,
.page-about-us .approaches-container .vision__image,
.page-about-us .approaches-container .values__image {
    height: -moz-fit-content;
    height: fit-content;
    width: 25%;
    float: left;
    margin: 0 0.5rem 0.25rem 0;
}

.page-about-us .approaches-container .vision__image {
    float: right;
    margin: 0 0 0.25rem 0.5rem;
}

.page-contact .content {
    margin-top: 5%;
    color: white;
    margin: 0;
    height: 85vh;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 2);
    margin-left: 450px;
    margin-right: 450px;
    background: transparent;
    backdrop-filter: blur(5px);

}

main.page-contact {
    background: url(../assets/images/backgrounds/shop\ 2.jpg) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.form__group {
    text-align: center;
    color: rgb(251, 250, 250);
}

.page-contact .content .query-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: white;

}

.page-contact .content .contact-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-data__title {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-contact .content .contact-data__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
}

.page-contact .content .contact-data__item {
    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;

}

.page-contact input {
    color: #e6f4ea;
}

.buttonform {
    color: white;
    border-radius: 8px;
    background-color: #000000;
    margin-top: 30px;
}

.searcher {
    display: flex;
    justify-content: flex-end;



}


.page-products .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1%;
}

.h2Prod {
    text-align: start;
    font-size: 35px;

    color: #430909;
    background-color: #f5cee7;
}


.name {

    color: #f5cee7;
    text-align: center;
    margin-top: 1%;
}