@use "@/scss/variables" as var;

.footer {
    grid-area: footer;
    background-color: var.$color-primary-500;

    &__copyright {
        color: var.$color-neutro-200;
        text-align: center;
    }
}